.container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  &__content {
    flex-grow: 9;
    max-width: 80%;
    &__chips {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &__chip {
        font-family: 'Space Grotesk', sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 3px 5px 10px;
        margin: 5px 10px;
        border-radius: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
      }
    }

    &__search {
      width: 60%;
    }
  }

  &__handlers {
    max-width: 20%;
    width: 20%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &__sort-button {
      text-align: left;
      margin-bottom: 10px;
      border-radius: 10px;
      background-color: #fff;
      padding: 5px 0 5px 15px;
      .mat-icon {
        border-radius: 100%;
        color: white;
        margin-right: 10px;
        padding: 4px;

        &.income {
          background-color: #21C206;
        }

        &.expenses {
          background: #EE3F19;
        }
      }
    }
    &__add-button {
      text-align: left;
      margin-bottom: 10px;

      border-radius: 10px;
      background-color: #B9E2E6;
      padding: 5px 0 5px 15px;
      & .mat-icon {
        color: white;
        margin-right: 10px
      }
    }
  }
}

.income {
  border: 2px solid #21C206;
}

.expenses {
  border: 2px solid #EE3F19;
}

.mat-active {
  background-color: rgba(0,0,0, .2)!important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgba(0,0,0,1)!important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}
::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: rgba(0,0,0,.6)!important;
}
