<div class="container">
  <mat-form-field class="container__search" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Search</mat-label>
    <input
      type="text"
      matInput
      [(ngModel)]="search"
      (input)="searchHandler()"
      autocomplete="off"
    >
  </mat-form-field>
  <button
    mat-button
    (click)="sortByDate()"
    style="margin-bottom: 3px"
  >
    <mat-icon>sort</mat-icon>
    Transaction date</button>
  <div class="container__overflow">
    <div class="no-transactions" *ngIf="transactionList.length === 0">
      No transactions yet <br>
      <button
        mat-raised-button
        (click)="drawer.setDrawer(true, 'add-transaction')"
      >Add transaction</button>
    </div>
    <mat-card
      class="transaction-card"
      *ngFor="let transaction of transactionList"
      (click)="drawer.setDrawer(true, 'about-transaction', transaction)"
    >
      <div class="transaction-card__category">
        {{ transaction.category[0] }}
      </div>
      <div class="transaction-card__content">
        <div class="transaction-card__content__title">
          <span>{{ transaction.title }}</span>
          <span
            class="transaction-card__content__title__cash"
            [class.transaction-card__content__title__cash__expenses]="transaction.typeOfTransaction==='expenses'"
            [class.transaction-card__content__title__cash__income]="transaction.typeOfTransaction==='income'"
          >
            {{ transaction.typeOfTransaction === 'expenses' ? '-' : '+'}}
            {{ transaction.cash }}
          </span>
        </div>
        <div class="transaction-card__content__details">
          <mat-icon
            [class.expenses]="transaction.typeOfTransaction === 'expenses'"
            [class.income]="transaction.typeOfTransaction === 'income'"
          >{{ transaction.typeOfTransaction === 'expenses' ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>
          {{ transaction.typeOfTransaction | titlecase }}
          • {{ transaction.dateOfTransaction | date:"dd.MM.yy" }}
          • {{ transaction.payee }}
      </div>
      </div>
    </mat-card>
  </div>
</div>
