.container {
  &__search {
    width: 100%
  }

  &__overflow {
    overflow: scroll;
    max-height: calc(100% - 150px);
    position: fixed;
    width: calc(57% - 55px)
  }

  max-height: 100%;
  margin-left: 200px;
}

.transaction-card {
  background-color: #FFFFFF;
  padding: 10px;
  display: flex;
  flex-direction: row;
  color: black;
  height: 55px;
  border-radius: 10px;
  margin-bottom: 15px;

  &__category {
    background-color: #ECEDED;
    flex-grow: 1;
    min-width: 125px;
    padding: 0;
    display: flex;
    border-radius: 10px;
    align-items: center;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    justify-content: center;
  }

  &__content {
    flex-grow: 9;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: space-around;

    &__title {
      display: flex;
      flex-direction: row;
      flex-grow: 5;
      color: #373737;
      font-family: 'Space Grotesk', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      justify-content: space-between;

      &__cash {
        &__expenses {
          color: #EE3F19;
        }

        &__income {
          color: #21C206;
        }
      }
    }

    &__details {
      align-items: center;
      display: flex;
      flex-grow: 5;
      font-family: 'Space Grotesk', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
    }
  }
}

.expenses {
  background-color: #EE3F19;
  color: #fff;
  border-radius: 100%;
  padding: 3px;
  margin-right: 10px;
}

.income {
  background-color: #21C206;
  color: #fff;
  border-radius: 100%;
  padding: 3px;
  margin-right: 10px;
}

.no-transactions {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  height: 100%;
  & button {
    margin-top: 10px;
  }
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgba(0,0,0,1)!important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}
::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: rgba(0,0,0,.6)!important;
}
