.drawer {
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 11;
  background-color: white;
  transition: .3s all;
  transform: translateX(375px);
  width: 375px;
  &__animation {
    transform: translate(0, 0);
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10;
  transition: .3s all;
}
