<div
  class="container"
>
  <div class="container__form">
    <div class="container__form__title">
      Budgetify
    </div>
    <div class="container__form__body">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          [formControl]="email"
          matInput
        >
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [formControl]="password"
          [type]="visibility ? 'text' : 'password'"
        >
        <button matSuffix type="button" mat-icon-button (click)="changeVisibility()">
          <mat-icon>{{visibility ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">Enter at least 6 characters!</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        [disabled]="password.invalid || email.invalid || password.value === ''"
        color="accent"
        type="button"
        (click)="login()"
        style="color: black"
      >Login
      </button>
    </div>
  </div>
</div>
