<div
  class="container"
>
  <div class="container__form">
    <div class="container__form__title">
      Budgetify
    </div>
    <form class="container__form__body">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
        >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="email"
        matInput
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      (click)="login()"
      style="color: black"
    >Login</button>
    </form>
  </div>
</div>
