.container {
  background: url('../../../assets/money-savings-currency-fingers 1.png') center;
  background-size: cover;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__form {
    width: 515.4px;
    height: 458.7px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__body {
      display: flex;
      flex-direction: column;
      margin: 10px 83px;
    }
    &__title {
      font-family: 'Alata', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 55px;
      text-transform: capitalize;
      text-align: center;
      color: #000000;
    }
  }
}
button:disabled{
  opacity: .5;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgba(0,0,0,1)!important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}
::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: rgba(0,0,0,.6)!important;
}

.mat-raised-button.mat-accent {
  background-color: #B9E2E6;
}
