<div class="body">
  <mat-toolbar class="toolbar">
    <span class="toolbar__logo">Budgetify</span>
    <div class="toolbar__menu">
      <a
        routerLink="{{item.link}}"
        class="toolbar__menu__links"
        *ngFor="let item of menuItems"
      >
        {{item.title}}
      </a>
    </div>
    <div class="toolbar__account">
      <mat-icon>account_circle</mat-icon>
      <div class="toolbar__account__text">Abdulaziz Manopov</div>
    </div>
  </mat-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
