<div class="body">
  <mat-toolbar class="toolbar">
    <a [routerLink]="['/']" class="toolbar__logo">Budgetify</a>
    <div class="toolbar__menu">
      <a
        [routerLink]="[item.link]"
        [routerLinkActive]="'toolbar__menu__links__active'"
        class="toolbar__menu__links"
        *ngFor="let item of menuItems"
      >
        {{item.title}}
      </a>
    </div>
    <div class="toolbar__account">
      <mat-icon>account_circle</mat-icon>
      <div class="toolbar__account__text">{{ user.name }} {{user.surname}}</div>
    </div>
  </mat-toolbar>
  <div>
    <app-drawer></app-drawer>
    <router-outlet></router-outlet>
  </div>
</div>
