@import url('https://fonts.googleapis.com/css2?family=Alata&family=Merriweather:wght@300&family=Space+Grotesk:wght@300&display=swap');
.body {
  background-color: #EFEFEF;
  height: 100%;
}

.toolbar {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
    &__logo {
    font-family: 'Alata', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
  }
  &__menu {
    &__links {
      font-family: 'Space Grotesk', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
      text-decoration: none;
      margin: 0 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__account {
    display: flex;
    font-family: 'Space Grotesk', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    line-height: 28px;
    color: #000000;
    &__text {
      margin-left: 10px;
    }
  }
}
