<div class="container">
  <div class="container__header">
    <div class="container__header__title">Add transaction</div>
    <button mat-icon-button (click)="drawer.setDrawer(false)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-button-toggle-group
    name="transactionType"
    [(ngModel)]="toggleButton"
    aria-label="type"
    class="container__toggle-group"
  >
    <mat-button-toggle value="income">
      <mat-icon class="income">arrow_downward</mat-icon>
      Income
    </mat-button-toggle>
    <mat-button-toggle value="expenses">
      <mat-icon class="expenses">arrow_upward</mat-icon>
      Expenses
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="container__forms">
    <mat-form-field class="text-field validators" appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        [formControl]="title"
        autocomplete="off"
        type="text"
      >
      <mat-error *ngIf="title.invalid">Title can not be empty</mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class="text-field validators"
    >
      <mat-label>Categories</mat-label>
      <mat-select [formControl]="categories" multiple>
        <mat-select-trigger class="options">
          <div
            class="options__chips"
            *ngFor="let category of categories.value ">{{category.categoryName}}</div>
        </mat-select-trigger>
        <mat-option *ngFor="let category of categoriesList" [value]="category">{{category.categoryName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="categories.invalid">Choose at least one category!</mat-error>
    </mat-form-field>

    <mat-form-field class="text-field validators" appearance="outline">
      <mat-label>Amount</mat-label>
      <input
        matInput
        [formControl]="amount"
        autocomplete="off"
        type="number"
      >
      <mat-error *ngIf="amount.invalid">Amount can not be empty</mat-error>
    </mat-form-field>

    <mat-form-field name="fieldName" ngDefaultControl appearance="outline">
      <mat-label>Choose a date <span style="color: red">*</span></mat-label>
      <input
        (dateChange)="changeDate($event)"
        readonly
        matInput
        [formControl]="date"
        [matDatepicker]="picker"
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="text-field" appearance="outline">
      <mat-label>Payee</mat-label>
      <input
        matInput
        [(ngModel)]="payee"
        autocomplete="off"
        type="text"
      >
    </mat-form-field>

    <mat-form-field class="text-field" appearance="outline">
      <mat-label>Description</mat-label>
      <input
        matInput
        [(ngModel)]="description"
        autocomplete="off"
        type="text"
      >
    </mat-form-field>
    <button
      mat-raised-button
      (click)="addTransaction()"
      [disabled]="title.invalid || amount.invalid || categories.invalid"
      style="align-self: flex-end; background-color: #B9E2E6"
    >Save</button>
  </div>
</div>
