.container {
  margin: 15px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-family: 'Space Grotesk', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 41px;
    }
  }

  &__toggle-group {
    background: #fff;
    margin-top: 10px;
    color: black
  }

  &__forms {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}

.expenses {
  background-color: #EE3F19;
  color: #fff;
  border-radius: 100%;
  padding: 3px;
  margin-right: 10px;
}

.options {
  display: flex;
  flex-direction: row;

  &__chips {
    color: #000;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .7);
    padding: 7px 13px;
    margin: 1px 3px;
  }
}

.income {
  background-color: #21C206;
  color: #fff;
  border-radius: 100%;
  padding: 3px;
  margin-right: 10px;
}

.mat-button-toggle {
  background: #fff;
  color: black;
  opacity: .3;
}

.mat-button-toggle-checked {
  opacity: 1;
}

.text-field {
  width: 100%;
  &.validators {
    margin-bottom: 0;
  }
}

::ng-deep .mat-button-toggle-label-content {
  line-height: 42px !important;
}
