.title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 28px;
  line-height: 41px;
}
.mat-dialog-actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.dialog-container {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  line-height: 41px;
}

.mat-raised-button.no-btn {
  background-color: #B9E2E6;
}
